{{extend 'layout.html'}}
<head>
    <link href="{{=URL('static', 'css/responsavel.css')}}" rel="stylesheet" type="text/css" />
</head>
<h1>
    Perfil
</h1>


<div>
    {{=formpai}}
    
    {{ i = 0 }}
    <div class="filhos">
        {{ for form  in forms:}}
            <div class="wrap-formulario">
                <div class="wrap-foto">
                    <img width="200px" src="{{=URL('download',args=fotos[i])}}" />
                </div>
                {{=form}}
            </div>

            {{i += 1}}
        {{pass}}
    </div>
</div>
<br><br>
<button>
    Vincular outro filho
</button>
