{{extend "layoutgenios.html" }}
{{
    response.files.insert(0,URL('static','css/responsavel.css'))
}}
<head>
    <link href="{{=URL('static', 'css/responsavel.css')}}" rel="stylesheet" type="text/css" />
</head>
<div class="altera-wrap">
    <h1>
        PERFIL
    </h1>
    <br><br>
    <div class="forms-wrap">
        {{=formpai}}

        {{ i = 0 }}
        <div class="filhos">
            {{ for form  in forms:}}
                <div class="wrap-formulario">
                    <div class="wrap-foto">
                        <img style="height:200px;width:200px" src="{{ =URL('default','download',args=fotos[i]) }}" />
                    </div>
                    {{=form}}
                </div>

                {{i += 1}}
            {{pass}}
        </div>
    </div>
    <br><br>
    <a href='{{=URL("responsavel","incluifilho",args=session.idpai)}}'>
        <button>
             Vincular Outro filho
        </button>
    </a> 
</div>
