{{extend "layoutgenios.html" }}
{{
    response.files.insert(4,URL('static','css/responsavel.css'))
}}

<head>
    <link href="{{=URL('static', 'css/responsavel.css')}}" rel="stylesheet" type="text/css" />
</head>
<div class="altera-wrap">
    <div class="title-genios" style=" padding: 0px 5px 0px 5px;display: inline-block;">
        <h1>
             PERFIL
        </h1>
    </div>
    <br><br>
    <div class="forms-wrap">
        <div class="altera pai">
            <div class="horizontal-center">
                <div class="formpai">
                    {{=formpai}}
                    {{=formEndereco}}
                </div>
                <div class="foto-pai">
                    <img style="height:150px;width:150px" src="{{ =URL('default','download',args=fotopai) }}" />
                    {{=fotopai}}
                </div>
            </div>
        </div>
        {{ i = 0 }}
        <div class="filhos">
            <h1>
                Filhos
            </h1>
            <br><br>
            {{ for form  in forms:}}
                <div class="wrap-formulario">
                    <div class="wrap-foto">
                        <img style="height:200px;width:200px" src="{{ =URL('default','download',args=fotos[i]) }}" />
                    </div>
                    {{=form}}
                </div>

                {{i += 1}}
            {{pass}}
        </div>
    </div>
    <br>
    <a class="linkAlterar" href='{{=URL("responsavel","incluifilho",args=session.idpai)}}'>
        <button>
             Vincular Outro filho
        </button>
    </a> 
</div>
