<head>
    {{

    response.files.insert(0,URL('static','css/bootstrap-responsive.min.css'))
    response.files.insert(1,URL('static','css/bootstrap.min.css'))
    response.files.insert(2,URL('static','css/style.css'))
   
    }}
    
    {{include 'web2py_ajax.html'}}

    <title>{{="Genios"}}</title>

    {{block head}}
    {{end}}
    
</head>

<div id="body">
    <div id="wrap">
        <header>
            <div class="logo"></div>
            <div class="flash">{{=response.flash or ''}}</div>
            {{=MENU(response.menu, _class='menu_genios')}}
        </header>
        
        <div id="conteudo">
            <span></span>
            {{include}}
            <div class="push"></div>
        </div>
        <footer style="width:960px; height:100px">
            <div id="footer-left" class="span2">
                {{=IMG( _src=(URL('static','images/logoCJR.png')))}}
                Desenvolvido Por:
            </div>
            <div id="footer-center" class="span8">
                <p>
                    Endereço: XXXXXXXXXXXXX - XXXXXXXXXXXXXX
                </p>
               <p>
                   Telefone: XXXX-XXXX
                </p>
            </div>
            <div id="footer-right" class="span2">
                {{=IMG( _src=(URL('static','images/facebook.png')))}}
            </div>        
        </footer>
    </div>
</div>
